#react {

  $lineHeight: 24px;
  $initTop: 2.5px;
  $maxNbLine: 25;

  $preWidth: 95%;

  .rel {
    position: relative;
    overflow: hidden;
  }

  @for $i from 1 through $maxNbLine {
    @for $c from 1 through $maxNbLine {
      @if $i <= $c {
        .hide-line-#{$i}-to-#{$c} {
          position: absolute;
          width: $preWidth;
          height: $lineHeight * ($c - $i  + 1);
          top: $initTop + ($lineHeight * $i);
          left: (100 - $preWidth) / 2;
          background: rgba(255,255,255,0.85);
        }
      }
    }
  }

  .logo {
    height: 200px;
    background: none;
    border: none;
    box-shadow: none;
  }

  pre {
    margin: 20px auto 0 auto;
    width: $preWidth;
  }

  pre code {
    font-size: 85%;
    max-height: 600px;
  }

  .javascript .xml {
    opacity: 1;
  }

  .playground-preview {
    margin: 20px auto 0 auto;
    font-size: 80%;
    width: 100%;

    input {
      font-size: 80%;
      width: 100%;
    }

    button {
      color: #fff;
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 80%;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      outline: none;
      background-color: #337ab7;
      border: 1px solid #2e6da4;
    }
  }

  .box {
    padding: 2px;
    border: 1px solid #3F3F3F;
  }
  .item {
    background-color: #3F3F3F;
    margin: 2px;
    padding: 5px;
  }

  img.chat {
    display: block;
    margin: 0;
    border: 0;
    max-width: 100%;
    max-height: 100%;
  }

  .chat-component {
    position: absolute;
    color: white;
    font-size: 40%;
    text-align: left;
  }
}