// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #272322;
$headingColor: #e0303b;

$mainFontSize: 38px;
$mainFont: 'Roboto Slab', Helvetica, sans-serif;
$headingFont: 'Montserrat', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 700;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;


$codeBackgroundColor: #fff;
$codeColor: black;

section.has-dark-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------